@font-face {
  font-family: 'Bold';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Bold');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url(/public/fonts/Montserrat-Regular.ttf) format('truetype'),
}
@font-face {
  font-family: 'Medium';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Medium');
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(/fonts/Roboto-Regular.ttf) format('truetype');
}

.App {
  text-align: left;
  width: '100%';
  height: '100%';
}


.App-link {
  color: #61dafb;
}

.inputStyle {
  /* stroke/hard */
  width: 400pt;
  height: 50pt;
  
  
  /* Text_Gray */
  
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18pt;
  line-height: 24pt;
  border: 1pt solid #A9A9AC;
  box-sizing: border-box;
  border-radius: 3pt;
  /* identical to box height, or 150% */
  
  color: #333333;
  padding-left: 16pt;
  mix-blend-mode: normal;
}

.titleStyle {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18pt;
  line-height: 24pt;
  color: #333333;
}

.titleContainer {
  margin-top: 34pt;
  margin-top: 12pt;
}

.dropDown {
  width: 400pt;
  height: 50pt;
}

.button {
  width: 250pt;
  height: 46pt;
  margin-top: 55pt;
  margin-bottom: 70pt;

  background: #0061D9;
  border-radius: 4pt;
  border-color: #0061D9;
}
.buttonLabel {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18pt;
  line-height: 24pt;
  color: #FFFFFF;
}

.question_label {
  display: block;
  float: right;
}

.h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 24px;
  /* or 71% */
  
  display: block;
  margin-top: 80pt;
  color: #333333;
}

.h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 800;
  font-size: 22pt;
  line-height: 24pt;
  color: #333333;
  margin-top: 41pt;
  display: block;
}

.headerStyle{
  background: #1A133B;
  height: 90pt;
}
.headerContent{
  margin-left: 171pt;
  padding-top: 17pt;
  width: 74pt;
  float: left;
}

.headerLabelBold {
  font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 16pt;
line-height: 16pt;
/* identical to box height, or 100% */
color: #FFFFFF;
display: block;
padding-top: 28pt;
}

.subHeaderLabelBold {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12pt;
  line-height: 24pt;
  /* identical to box height, or 133% */
  
  
  color: #FFFFFF;
display: block;

}

.footerStyle{
  height: 120pt;
}
.footerContent{
  margin-left: 171pt;
  padding-top: 17pt;
  width: 50pt;
  float: left;
}

.footerLabelBold {
  font-family: Roboto;
  padding-top: 24pt;

  font-style: normal;
  font-weight: 900;
  font-size: 10pt;
  line-height: 16pt;
  /* or 160% */

  color: #76767A;

  display: block;
}

.subFooterLabelBold {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 8pt;
  line-height: 16pt;
  /* or 200% */

  color: #76767A;
  display: block;

}


.line {
  width: 1024pt;
height: 2pt;
margin-left: 171pt;
top: 1372pt;

background: #D9D9D9;
}

.lineSmall {
  width: 1024pt;
  height: 2pt;
  margin-left: 171pt;
  top: 1372pt;
  background: #EDEDF1;
}

.resultDescription {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18pt;
  line-height: 24pt;
  color: #333333;
}

.resultDescriptionBold {
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18pt;
line-height: 24pt;

color: #333333;
}
.resultDescriptionBoldFloat {
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 12pt;
line-height: 40pt;
color: #333333;
margin-left: '10pt';
display: inline-block;
  vertical-align: top;
}

.resultStyle {
  font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 60pt;
line-height: 70pt;
color: #0061D9;
}

.resultPartialStyle {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 40pt;
  line-height: 60pt;
  padding-bottom: 12pt;
  display: inline-block;
  vertical-align: top;
  color: #0061D9;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


