.Dropdown-root {
    position: relative;
  }
  
  .Dropdown-control {
    position: relative;
    overflow: hidden;
    background-color: white;
    height: 50pt;
    width: 400pt;
    color: #333;
    cursor: default;
    outline: none;
    padding: 8px 52px 8px 10px;
    transition: all 200ms ease;
    border: 1pt solid #A9A9AC;
    box-sizing: border-box;
    border-radius: 3pt;
  }
  
  .Dropdown-control:hover {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  }
  
  .Dropdown-arrow {
    border-color: #333333 transparent transparent;
    border-style: solid;
    border-width: 5pt 5pt 0;
    content: ' ';
    display: block;
    height: 0;
    margin-top: -ceil(2.5);
    position: absolute;
    right: 16pt;
    top: 22pt;
    width: 0
  }
  
  .is-open .Dropdown-arrow {
    border-color: transparent transparent #333333;
    border-width: 0 5pt 5pt;
  }
  
  .Dropdown-menu {
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    margin-top: -1px;
    max-height: 1000pt;
    overflow-y: auto;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1000;
    width: 400pt;
    -webkit-overflow-scrolling: touch;
  }
  
  .Dropdown-menu .Dropdown-group > .Dropdown-title{
    padding: 8px 10px;
    color: rgba(51, 51, 51, 1);
    font-weight: bold;
    text-transform: capitalize;
  }
  
  .Dropdown-option {
    box-sizing: border-box;
    height: 50pt;
    cursor: pointer;
    display: block;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18pt;
    line-height: 50pt;
    color: #333333;
    padding-left: 16pt;
  }
  
  .Dropdown-option:last-child {
    border-bottom-right-radius: 2px;
     border-bottom-left-radius: 2px;
  }
  
  .Dropdown-option:hover {
    background-color: #0061D9;
    color: #fff;
  }
  
  /* .Dropdown-option.is-selected {
    background-color: #0061D9;
    color: #fff;
  } */
  
  .Dropdown-noresults {
    box-sizing: border-box;
    color: #ccc;
    cursor: default;
    display: block;
    padding: 8px 10px;
  }

  .Dropdown-placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18pt;
    line-height: 37pt;
    color: #333333;
    padding-left: 8pt;
  }
  